<ul class="menu sub-menu expanded">
    <li ng-repeat="item in $ctrl.items">
        <a ui-sref-active="active" ui-sref="{{item.path}}">
          <i class="icon {{item.icon}}"></i>
          <span>{{item.name}}</span>
        </a>
    </li>
</ul>
