sub-menu {
	margin: 0;
	padding: 0;
	z-index: 2000;
	position: relative;
}

.sub-menu {
	background: $light-gray;
	text-align: center;
	border-top: 1px solid $medium-gray;

	a {
		padding: $global-padding 0;
		font-size: $small-font-size;
		text-transform: uppercase;
		color: $dark-gray;
		position: relative;
		transition: .5s;
		&:before {
			transition: .5s;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 0;
			background: $primary-color;
			z-index: 100;
		}
		&:active {
			background: $white;
			transition: .5s;
		}

		&.active {
			color: $black;
			font-weight: bold;
			&:before {
				height: 5px;
			}
			.icon {
				color: $primary-color;
			}
		}

	}
	.icon {
		font-size: 20px;
	}
}
