.accept-terms {
	.reveal-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: fade-out($black,0.4);
		padding: $global-padding*1.5;
		z-index: 3000;
	}

	.title {
		margin-bottom: 0;
		line-height: 1.4em;
		text-transform: uppercase;
		font-weight: bold;
		color: $primary-color;
	}
	p {
		margin: 1em 0;
	}
	.row {
		margin: 0;
		//flex: 2;
		padding: $global-padding;
	}

	.reveal {
		display: block;
		padding: 0;
		border-radius: 1em;
		margin-top: 0;
		height: inherit;
		width: inherit;
		min-height: inherit;
		position: absolute;
		left: $global-padding;
		top: $global-padding;
		right: $global-padding;
		bottom: $global-padding;
		z-index: 3500;

		display: flex;
		flex-flow: column;
	}
	.buttons {
		padding: $global-padding $global-padding/2;
    .button {
      margin-bottom: 0;
    }
	}
	.content {
		flex: 2;
		background: lighten($light-gray, 5);;
		overflow-y: scroll;
		padding: 0 $global-padding;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
	}
	&.ng-leave {
		transition: .5s;
    opacity: 1;
		.reveal {
			opacity: 1;
			transition: all .5s ease-in-out;
			transform: translate3d(0,0,0);
		}
		.reveal-bg {
			transition: all .5s ease-in-out;
			opacity: 1;
		}
	}
	&.ng-leave-active {
		.reveal {
			opacity: 0;
			transform: translate3d(0,-50%,0);
		}
		.reveal-bg {
			transition: all .5s ease-in-out;
			opacity: 0;
		}
	}
}
