<div class="accept-terms" ng-if="$ctrl.status.acceptTermsStatus===false">
  <div class="reveal-bg">
  </div>
  <div class="reveal">
    <div class="title row">
      <div class="small-12 columns">
        <h2 class="title">Aceitar termos de uso</h2>
      </div>
    </div>
    <div class="content row">
      <div class="small-12 columns">
        <p>O acesso ao LG Academy pelo aplicativo MSXI Link é exclusivo ao usuário cadastrado.
          O acesso às avaliações (pré e pós treinamento) dar-se-á através de cadastramento prévio, por login e senha (de uso pessoal e intransferível, sendo vedada a cessão a terceiros, a qualquer título) e procedimentos do aparelho celular / tablet do usuário, através do aplicativo MSXI Link.
        <p>
          A MSX International não se responsabiliza pelas oscilações de conexão, acarretadas pelo provedor de Internet utilizado pelo Aluno. E, nem por eventuais interrupções no processo de transmissão de dados motivado por perdas ou diminuição de sinal.
        </p>
        <p>
          As avaliações de conteúdo são protegidas por copyrights nacionais. Não podem ser copiadas, reproduzidas, modificadas, publicadas, atualizadas, postadas, transmitidas ou distribuídas de qualquer maneira sem autorização prévia e por escrito da LG.
        <p>
          Assim sendo, declaro que concordo e estou ciente de que a efetivação das avaliações significará integral concordância com os termos e condições dos itens acima. Declaro ainda que aceito utilizar o aplicativo MSXI Link como ferramenta para participação das avaliações de treinamento presencial.
        </p>
      </div>
    </div>
    <div class="buttons row">
      <div class="small-6 columns">
        <button ng-click="$ctrl.confirm()" class="button large expanded"><i class="icon ion-checkmark"></i><span>Sim</span></button>
      </div>
      <div class="small-6 columns">
        <button ng-click="$ctrl.deny()" class="button large expanded hollow"><i class="icon ion-close"></i><span>Não</span></button>
      </div>
    </div>
  </div>
</div>
