
<page-header>
	<div class="small-2 columns left">
		<a class="previous" ui-sref="main.agenda.turmas({date : turma.Date})" ><i class="icon ion-ios-arrow-left"></i></a>
	</div>
	<div class="large-10 columns">
		<h3 class="turma-title title">{{turma.Detalhe.Requisicao.Codigo}} <i class="icon ion-arrow-right-c"></i> <span class="turma">{{turma.Detalhe.Codigo}}</h3>
	</div>
</page-header>

<div class="turma main-content">
	<loader></loader>
	<ul class="turma-details list">
		<li><div class="small-12 columns"><strong>Tipo:</strong> {{turma.Detalhe.Requisicao.TipoTreinamento}}</div></li>
		<li><div class="small-12 columns"><strong>Público:</strong> {{turma.Detalhe.Requisicao.Publico}}</div></li>
		<li>
			<div class="small-12 columns">
				<strong>Data:</strong>
				{{turma.Detalhe.Inicio | toDate | date: "dd/MM/yyyy"}} - {{turma.Detalhe.Termino | toDate | date: "dd/MM/yyyy"}}
			</div>
		</li>
		<li>
			<div class="small-12 columns">
				<strong>Horário:</strong>
				{{turma.Detalhe.Inicio | toDate | date: "HH:mm"}}
				<i class="icon ion-arrow-right-c"></i>
				{{turma.Detalhe.Termino | toDate | date: "HH:mm"}}
		</li>
		<li><div class="small-12 columns"><strong>Local:</strong> {{turma.Detalhe.Requisicao.Aux}} - {{turma.Detalhe.Requisicao.DadosCliente}}</div></li>
		<li><div class="small-12 columns"><strong>Requisitante:</strong> {{turma.Detalhe.Requisicao.Requisitante}}</div></li>
	</ul>
</div>
<div class="bottom-actions">
  <div class="row">
    <div class="small-6 columns">
      <button ui-sref="evidencias({idTurma : turma.Detalhe.ID, date : turma.Date})" class="button large expanded">
        <i class="icon ion-document-text"></i><span>Evidências</span>
      </button>
    </div>
    <div class="small-6 columns">
	    <button ui-sref="custos({idTurma : turma.Detalhe.ID, date : turma.Date})" class="button large expanded">
	      <i class="icon ion-social-usd"></i><span>Custos</span>
	    </button>
    </div>
  </div>
</div>
