<page-header></page-header>

<div class="single-news main-content">
  
  <loader></loader>

  <div class="title">
    <h1>{{noticia.Detalhe.Noticia}}</h1>
    <p class="date">
      {{noticia.Detalhe.Data}}
    </p>
  </div>
  <div class="body">
      <div ng-bind-html="noticia.Detalhe.Texto"></div>
  </div>
</div>
