.accordion-title, .accordion-title:hover {
  font-size: 19px;
  background: lighten($light-gray,5);
  border-bottom: 1px solid $light-gray !important;
}

accordion {
  .accordion-title {
    @include selected-block(0);
  }
  .is-active {
    .accordion-title {
      @include selected-block(5px);
    }
  }
}
