.view-animate {
  position: absolute;
  width: 100%;
  z-index: 0;
  &.ng-enter {
    transition: .5s;
    opacity: 0;
  }
  &.ng-enter-active {
    opacity: 1;
  }
}

.fc-view-container {
  animation-name: show;
  animation-duration: 400ms;
}

@keyframes show {
  from {opacity: 0}
  to {opacity: 1}
}
