html, body {
	height: 100%;
	overflow: hidden;
	position: relative;
}

body {
	display: flex;
  flex-flow: column;
}

.page-container, .panel-container, .main-view, .tab-content {
	display: flex;
  flex-flow: column;
}

.main-view, .tab-content {
  	height: 100%;
}

.modal-view {
	height: 100%;
	position: absolute;
	z-index: 100;
}

.main-content {
	flex: 2;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
}

.hidden {
	display: none;
}

textarea, input {
	outline: none;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.reveal-in {
	@include mui-slide(
		$state: in,
		$direction: left,
		$timing: ease-out,
		$duration: 0.4s
	);
}

.reveal-out {
	@include mui-slide(
		$state: out,
		$direction: right,
		$timing: ease-in,
		$duration: 0.4s
	);
}

.button {
	border-radius: 0.25em;
	span {
		margin-left: 0.5em;
	}
}

.bottom-actions {
	padding: 1em 0.5em;
	border-top: 1px solid $medium-gray;
	margin-top: -1px;
	z-index: 2000;
	.button {
		margin-bottom: 0;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
}

@media (max-height: 400px) {
	.bottom-actions {
		display: none;
	}
}

.file-upload {
	position: relative;
	overflow: hidden;
	input {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}

.status-icon {
	height: 2em;
	color: $white !important;
	display: inline-block;
	text-align: center;
	width: 2em;
	line-height: 2em;
	border-radius: 5em;
	margin-bottom: 0.5em !important;
	background-color: $primary-color;

	&.success {
		background-color: $success-color;
	}

	&:before {
		text-shadow: 0.05em 0.05em 0.05em fade-out($black,0.7);
	}
}
