.list {
	margin-left: 0;
	margin-bottom: -1px;
	ul {
		margin-left: 0;
		list-style: none;
	}
	>li {
		@include flex-grid-row();
		padding: $global-padding $global-padding/2;
		list-style: none;
		border-bottom: 1px solid $light-gray;
		>strong {
			margin-right: 0.5em;
		}
    p.time {
  		margin-bottom: 0;
      margin-top: 10px;
  		font-size: 0.85em;
  		width: 100%;
  		height: $lead-lineheight;
  	}
	}
	.button {
		margin-bottom: 0;
		text-align: center;
		vertical-align: middle;
		padding-left: 0;
		padding-right: 0;
	}
  .status {
		text-align: center;
		border-left: 1px solid $light-gray;
		padding-right: 0;
		span {
			font-size: 0.85em;
			display: block;
		}
		h3 {
			font-weight: bold;
		}
	}
}

.turma-title {
  margin-bottom: 0;
  font-weight: bold;

  .icon {
    color: $medium-gray;
  }
  .turma {
    background-color: $primary-color;
    padding: 0.05em 0.25em;
    border-radius: 0.25em;
    color: $white;
  }
}
