@mixin selected-block($width){
  position: relative;
  &::after {
    transition: all .1s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $width;
    background: $primary-color;
  }
}

@mixin dashed-bg($color: $medium-gray) {
	background-image: linear-gradient(-45deg, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  background-size: 4px 4px;
}
