.cost-list {
  input, select, textarea {
    margin-bottom: 0;
  }
  label {
    line-height: 14px;
    margin-top: 6px;
    color: $dark-gray;
  }
}

.cost-details {
  p {
    margin-bottom: 0;
  }
  .title {
    width: 80px;
    display: inline-block;
    color: $dark-gray;
  }
}

.datepicker {
  select {
    &:first-child {
      border-bottom: none;
    }
    &:last-child {
      border-top: none;
    }
  }
}
