
<page-header>
  <div class="small-2 columns left">
      <a class="previous" aria-label="Close reveal" ui-sref="turma({id : custos.idTurma, date : custos.date})">
          <i class="icon ion-ios-arrow-left"></i>
      </a>
  </div>
  <div class="small-10 columns">
      <h3 class="turma-title title">{{custos.Turma.Requisicao.Codigo}}
          <i class="icon ion-arrow-right-c"></i>
          <span class="turma">{{custos.Turma.Codigo}}</span>
      </h3>
  </div>
</page-header>
<div class="main-content">
  <loader></loader>
  <ul class="list cost-list">
    <li ng-if="!custos.All[0]">
        <div class="small-12 columns">
          Não existe nenhum custo disponível...
        </div>
      </li>
    <li ng-repeat="custo in custos.All track by $index">
      <div class="small-8 columns cost-details">
        <p>
          <span class="title">Tipo</span>
          <span class="data">{{custo.TipoCusto}}</span>
        </p>
        <p>
          <span class="title">Custo</span>
          <span class="data">R$ {{custo.Custo}}</span>
        </p>
      </div>
          <div class="small-2 columns">
              <button type="button" class="button hollow expanded" ng-click="custos.deleteCusto(custo.ID)">
                  <i class="icon ion-close"></i>
              </button>
          </div>
          <div class="small-2 columns">
              <button type="button" class="button hollow expanded" aria-controls="novo-custo"
                  ui-sref="custo({idTurma : custos.idTurma, idCusto : custo.ID, date : custos.date, status : 'edit'})">
                  <i class="icon ion-edit"></i>
              </button>
          </div>
    </li>
  </ul>
</div>
<div class="bottom-actions">
  <div class="row">
    <div class="small-6 columns">
        <button ui-sref="custo({idTurma : custos.idTurma, idCusto : 0, date : custos.date, status : 'new'})" class="button large expanded">
            <i class="icon ion-plus"></i><span>Novo Custo</span>
        </button>
    </div>
    <div class="small-6 columns">
        <button ui-sref="consultaCusto({idTurma : custos.idTurma})" class="button large expanded">
            <i class="icon ion-search"></i><span>Consultar</span>
        </button>
    </div>
  </div>
</div>
