.training-list {
  li {
    .type {
      line-height: 0.8em;
      font-size: 0.8em;
      color: $dark-gray;
      margin-bottom: 0.5em;
      font-weight: bold;
    }
    .title {
      font-weight: bold;
      margin-bottom: 0;
      line-height: 1.2em;
    }
    .icon {
      color: $primary-color;
      margin-right: 0.5em;
      font-size: 1.2em;
      vertical-align: middle;
    }
    .image {
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 2px 3px fade-out($black,0.7);
    }
  }
}
