<ul class="training-list list">
    <li ng-repeat="treinamento in treinamentos.list" data-open="modal" data-url="modal-noticia.html">
      <div class="small-4 columns image-container">
        <div class="image">
          <img ng-src="{{treinamento.image}}"/>
        </div>
      </div>
      <div class="small-8 columns">
        <p class="type"><i class="icon {{treinamento.icon}}"></i> {{treinamento.type}}</p>
        <h4 class="title">{{treinamento.title}}</h4>
        <span class="more"><i class="icon ion-android-arrow-forward"></i>Acessar</span>
      </div>
    </li>
</ul>
