.submit-questions {
	position: relative;
	min-height: 90px;
	.button-container {
		position: absolute;
		padding: 1em;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		&.ng-enter {
			transition: all .5s ease-in-out;
			opacity: 0;
		}
		&.ng-enter-active {
			opacity: 1;
		}
	}
	.progress-container {
		&.ng-leave {
			transition: all .5s ease-in-out;
	    opacity: 1;
		}
		&.ng-leave-active {
	    opacity: 0;
		}
	}
	.button {
		margin-bottom: 0;
	}
	.progress {
		margin-bottom: 0;
		border-radius: 5px;
		overflow: hidden;
	}
	.progress-meter {
		border-radius: 5px;
		transition: width 0.5s;
	}
}
