﻿<accept-terms></accept-terms>
<page-header>
  <div class="small-12 columns">
      <h3 class="turma-title title"><span class="turma">{{na.Avaliacao.CodigoAvaliacao}}</span> <i class="icon ion-arrow-right-c"></i> {{na.Avaliacao.TipoAvaliacao}} Teste</h3>
  </div>
</page-header>
<div class="main-content">
  <loader></loader>
    <ul class="list list-questions">
        <li class="success" ng-show="na.Avaliacao.JaRespondida == true">
            <div class="small-12 columns success">
                <h3 class="event-title">Avaliação Já respondida, não é possível responder mais de uma vez.</h3>
            </div>
        </li>
        <li id="question-{{q.ID}}" ng-show="na.Avaliacao.JaRespondida == false" class="question" ng-repeat="q in na.Avaliacao.Questoes">
            <div class="small-12 columns">
                <p>{{q.Enunciado}}</p>

                <fieldset>
                    <ul class="options">
                        <li class="selectable" ng-repeat="a in q.Alternativa">
                            <input type="radio" ng-click="na.ProgressAvaliacao(na.Avaliacao.ID, q.ID, a.ID)" name="{{q.ID}}" id="{{q.ID}}-option{{$index}}"><label for="{{q.ID}}-option{{$index}}">{{a.Alternativa}}</label>
                            <span class="check icon"></span>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </li>
    </ul>
</div>
<div class="bottom-actions submit-questions" ng-show="na.Avaliacao.JaRespondida == false">
    <div class="row">
        <div class="small-12 columns">
            <div ng-if="na.Avaliacao.TotalRespondidas < na.Avaliacao.TotalQuestoes" class="progress-container text-center">
                <p><span>Questões respondidas: </span><span id="answeredQuestions" class="selected">{{na.Avaliacao.TotalRespondidas}}</span>/<span id="allQuestions" class="all">{{na.Avaliacao.TotalQuestoes}}</span></p>
                <div class="progress" role="progressbar" id="progress-bar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                    <span class="progress-meter" style="width: {{na.Avaliacao.Percentual}}%">
                    </span>
                </div>
            </div>
            <div ng-if="na.Avaliacao.TotalRespondidas === na.Avaliacao.TotalQuestoes" class="button-container">
                <button type="submit" ng-click="na.SubmitAvaliacao()" id="submitButtom" class="button large expanded submit"><i class="icon ion-arrow-right-a"></i><span>Enviar Avaliação</span></button>
            </div>
        </div>
    </div>
</div>
