<page-header>
	<div class="small-2 columns left">
		<a class="previous" ui-sref="custos({idTurma : custo.idTurma, date : custo.date})">
			<i class="icon ion-ios-arrow-left"></i>
		</a>
	</div>
	<div class="small-10 columns">
    <h3 class="turma-title title">{{custo.Turma.Requisicao.Codigo}}
      <i class="icon ion-arrow-right-c"></i>
      <span class="turma">{{custo.Turma.Codigo}}</span>
  	</h3>
	</div>
</page-header>
<div class="main-content">
	<loader></loader>
	<ul class="list cost-list">
		<li>
			<label for="Tipo" class="small-3 columns">Tipo de Custo</label>
			<div class="data small-9 columns">
          <select name="Data" id="Tipo" ng-model="custo.Data.TipoCusto">
          	<option ng-repeat="option in custo.TiposCusto" value="{{option.ID}}">{{option.TipoCusto}}</option>
          </select>
			</div>
		</li>
		<li>
			<label for="Custo" class="small-3 columns">Custo</label>
			<div class="data small-9 columns">
				<input type="text" id="Custo" ng-model="custo.Data.Custo" placeholder="Digite o custo" ui-money-mask="2">
			</div>
		</li>
		<li>
			<label for="Fornecedor" class="small-3 columns">Fornecedor</label>
			<div class="data small-9 columns">
				<input type="text" id="Fornecedor" ng-model="custo.Data.Fornecedor" placeholder="Digite o Fornecedor">
			</div>
		</li>
		<li>
			<label for="NF" class="small-3 columns">Número NF</label>
			<div class="data small-9 columns">
				<input type="text" id="NF" ng-model="custo.Data.NF" placeholder="Digite o Número NF">
			</div>
		</li>
		<li>
			<label for="Descricao" class="small-3 columns">Descrição</label>
			<div class="data small-9 columns">
				<textarea rows="4" type="text" id="Descricao" ng-model="custo.Data.Descricao" placeholder="Digite a descrição"></textarea>
			</div>
		</li>
		<li>
			<label for="Data" class="small-3 columns">Data</label>
			<ng-combo-date-picker id="Data" class="datepicker small-9 columns"
				ng-months="Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro"
				ng-model="custo.Data.Date"
				ng-year-order="desc"
				ng-date="{{custo.InitialDate.toString()}}">
			</ng-combo-date-picker>
		</li>
		<li ng-show="custo.Data.Anexos == null">
			<label for="Recibo" class="small-3 columns">Recibo</label>
			<div class="data small-9 columns" >
				<button class="button expanded hollow file-upload">
					<i class="icon ion-plus"></i>Enviar Recibo
					<input id="Recibo" accept="image/*" onchange="angular.element(this).scope().uploadImage(this.files)" type="file">
				</button>
			</div>
			<div class="data small-3 columns">
			</div>
		</li>
		<li ng-if="custo.Data.Anexos != null">
			<img width="50px" height="50px" id="imgEvidencia" />
			<div class="small-3 columns image">
				<img id="imgEvidencia" ng-src="{{custo.Data.Anexos[0].Path}}" />
			</div>
			<div class="small-7 columns file-name">
				<p class="name">{{custo.Data.Anexos[0].Arquivo}}</p>
			</div>
			<div class="small-2 columns" >
				<button type="button" class="button hollow expanded" ng-click="custo.DeleteRecibo()">
            <i class="icon ion-close"></i>
        </button>
			</div>
		</li>
	</ul>
</div>
<div class="bottom-actions">
  <div class="row">
    <div class="small-12 columns">
		<button class="button large expanded" ng-click="custo.NovoCusto(custo.Data, custo.Status)"><i class="icon ion-checkmark"></i><span>Salvar</span></button>
    </div>
  </div>
</div>
