.biblioteca-list {
  li {
    .type {
      line-height: 0.8em;
      font-size: 0.8em;
      color: $dark-gray;
      margin-bottom: 0.5em;
      font-weight: bold;
    }
    .title {
      font-weight: bold;
      margin-bottom: 0;
      line-height: 1.2em;
    }
    .icon {
      color: $primary-color;
      margin-right: 0.5em;
      font-size: 1.2em;
      vertical-align: middle;
    }
    .file-type {
      border-radius: 5px;
      overflow: hidden;
      background: $light-gray;
      box-shadow: 0 2px 3px fade-out($black,0.7);
      text-align: center;
      .icon {
        color: $dark-gray;
        font-size: 3em;
        line-height: 1em;
        margin-right: 0;
      }
      p {
        margin-bottom: 0.5em;
        font-size: 0.8em;
        color: $dark-gray;
        font-weight: bold;
      }
    }
  }
}
