<ul class="biblioteca-list list">
    <li ng-repeat="item in biblioteca.list" data-open="modal" data-url="modal-noticia.html">
      <div class="small-3 columns image-container">
        <div class="file-type">
          <i class="icon {{item.icon}}"></i>
          <p>{{item.filetype}}</p>
        </div>
      </div>
      <div class="small-9 columns">
        <p class="type">{{item.type}}</p>
        <h4 class="title">{{item.title}}</h4>
        <span class="more"><i class="icon ion-android-arrow-forward"></i>Acessar</span>
      </div>
    </li>
</ul>
