.page-header {

	padding: $global-padding/2;
	padding-top: $global-padding;
	padding-bottom: $global-padding*0.7;
	background: $light-gray;
	border-bottom: 1px solid $medium-gray;
	min-height: 62px;
	z-index: 2000;
	position: relative;

	.next, .previous {
		color: $primary-color;
		font-size: 28px;
		text-transform: uppercase;
		display: block;
		text-align: center;
		height: 34px;
		line-height: 34px;
	}

	&.calendario {
		border-bottom: none;
	}

	.title {
		line-height: 34px;
		margin-bottom: 0;
		text-transform: uppercase;
		font-weight: bold;
		overflow: hidden;
		white-space: nowrap;
	}
}

@media (max-width: 400px) {
	.page-header {
		.turma-title {
			margin-bottom: 0;
			font-weight: bold;
			&.title {
				line-height: 1.4em;
			}
			.icon {
				display: none;
			}
			.turma {
				background-color: transparent;
				padding: 0;
				font-size: 0.6em;
				border-radius: 0.25em;
				line-height: 1em;
				color: $primary-color;
				display: block;
			}
		}
	}
}
