<section class="page-header">

  <div ng-transclude ng-if="!$ctrl.data.back" class="row">
    <div class="large-12 columns">
      <h3 class="title">{{$ctrl.data.title}}</h3>
    </div>
  </div>

  <div ng-if="$ctrl.data.back" class="row">
    <div class="small-2 columns left">
      <a class="previous" ui-sref="{{$ctrl.data.back}}">
        <i class="icon ion-ios-arrow-left"></i>
      </a>
    </div>
    <div class="small-10 columns">
      <h3 class="title">{{$ctrl.data.title}}</h3>
    </div>
  </div>

</section>
