﻿
<div class="results main-content">
  <page-header></page-header>
    <div class="nota-container">
        <div class="row">
            <div class="large-12 columns">
                <h1 class="status">
                    {{ra.Result.aprovado == 'true' ? "Aprovado" : "Reprovado"}}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="nota">
                    <i ng-class="ra.Result.aprovado == 'false' ? ['fail', 'ion-close'] : ['success','ion-checkmark']" class="status-icon icon ion-checkmark"></i>
                    <h1 class="text">{{ra.Result.nota}}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="answers">
                    Você acertou <span>{{ra.Result.qtdQuestoesCorretas}}</span> de <span>{{ra.Result.qtdQuestoes}}</span> questões.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="submit-questions">
    <div class="row">
        <div class="small-12 columns">
            <button class="button large expanded hollow" data-open="modal" ui-sref="avaliacaoRespondida({idAvaliacaoRespondida: ra.Result.idAvaliacaoRespondida})"><i class="icon ion-eye"></i>Visualisar Avaliação
            </button>
        </div>
    </div>
</div>
 -->
