.results {
	.nota {
		border: 3px solid $light-gray;
		width: 160px;
		height: 160px;
		border-radius: 80px;
		padding: 27.5px;
		margin: 2em auto 3em;
		.status-icon {
			height: 100px;
			width: 100px;
			line-height: 110px;
			font-size: 60px;
			overflow: hidden;
			margin-bottom: 0 !important;
		}
		.text {
			background: $white;
			width: 60px;
			margin: 0 auto;
			font-weight: bold;
		}
	}
	.nota-container {
		//padding: 4em 0;
		text-align: center;
		position: absolute;
		top: 50%;
		margin-top: -35%;
		width: 100%;
	}
}
