menu {
	margin: 0;
	padding: 0;
	z-index: 2000;
}

.top-menu {
	background: $primary-color;
	text-align: center;
	border-bottom: 1px solid darken($primary-color,15);
	min-height: 45px;
	max-height: 45px;

	li {
		position: relative;
		a {
			padding: $global-padding 0;
			font-size: $small-font-size;
			text-transform: uppercase;
			color: fade-out($white,0.4);
			transition: all 0.2s ease-in-out;
			&:before {
					border-bottom: 0px solid darken($primary-color,10);
					transition: all 0.2s ease-in-out;
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
				}
			&.active {
					color: $white;
					font-weight: bold;
				&:before {
					border-bottom: 5px solid darken($primary-color,10);
				}
			}
		}
	}
}
