<ul class="menu expanded top-menu">
    <li ng-repeat="item in $ctrl.items">
        <a ui-sref-active="active" ui-sref="{{item.path}}">
            <span>{{item.name}}</span>
        </a>
    </li>
</ul>
