.list-questions.reacao {
  .options {
    position: relative;
    li {
      width: 20%;
      height: 3.5em;
      float: left;
      text-align: center;
      .check {
        display: none;
      }
      input[type="radio"]:checked ~ .check {
        display: inline-block;
      }
      &:nth-child(2) {
        input[type="radio"]:checked ~ .check {
            color: $alert-color;
        }
      }
      &:nth-child(3) {
        input[type="radio"]:checked ~ .check {
            color: mix($alert-color, $warning-color);
        }
      }
      &:nth-child(4) {
        input[type="radio"]:checked ~ .check {
            color: $warning-color;
        }
      }
      &:nth-child(5) {
        input[type="radio"]:checked ~ .check {
            color: mix($warning-color, $success-color);
        }
      }
      &:nth-child(6) {
        input[type="radio"]:checked ~ .check {
            color: $success-color;
        }
      }
      label {
        position: absolute;
        bottom: 0em;
        padding: 0;
        width: 100%;
        height: 100%;
        padding-top: 2.5em;
        z-index: 10;
        color: $medium-gray;
        transition: color 0.5s;
        font-size: 0.8em;
      }
      .icon {
        position: relative;
      }
    }
    .progress {
      position: absolute;
      top: 1em;
      left: 10%;
      right: 10%;
      height: 5px;
      border-radius: 2.5px;
      overflow: hidden;
      background: $light-gray;
    }
    &.option0 .progress-meter {
      background: $alert-color;
    }
    &.option1 .progress-meter {
      background: mix($alert-color, $warning-color);
    }
    &.option2 .progress-meter {
      background: $warning-color;
    }
    &.option3 .progress-meter {
      background: mix($warning-color, $success-color);
    }
    &.option4 .progress-meter {
      background: $success-color;
    }
  }
}
