﻿<accept-terms></accept-terms>
<page-header>
  <div class="small-12 columns">
      <h3 class="turma-title title"><span class="turma">{{nar.Reacao.CodigoAvaliacao}}</span> <i class="icon ion-arrow-right-c"></i> Reação</h3>
  </div>
</page-header>
<div class="main-content">
  <loader></loader>
    <ul class="list list-questions reacao">
        <li id="question-{{q.ID}}" class="question" ng-repeat="q in nar.Reacao.Questoes" >
            <div class="small-12 columns">
                <p>{{q.Enunciado}}</p>
                <fieldset>
                    <ul id="ulOptions-{{q.ID}}" class="options">
                        <div class="progress" role="progressbar" tabindex="0" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                            <span id="progress-meter-{{q.ID}}" class="progress-meter">
                            </span>
                        </div>
                        <li id="liSelectable-{{q.ID}}" class="selectable option{{$index}}" ng-repeat="a in q.Alternativas" >
                            <input ng-click="nar.fillBar($index, q, a)" type="radio" name="{{q.ID}}" id="{{a.ID}}-option{{$index}}"><label for="{{a.ID}}-option{{$index}}">{{a.Alternativa}}</label>
                            <span class="check icon"></span>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </li>
    </ul>
</div>
<div class="bottom-action submit-questions">
    <div class="row">
        <div class="small-12 columns">
            <div ng-if="nar.Reacao.TotalRespondidas < nar.Reacao.TotalQuestoes" class="progress-container text-center">
                <p><span>Questões respondidas: </span><span id="answeredQuestions" class="selected">{{nar.Reacao.TotalRespondidas}}</span>/<span id="allQuestions" class="all">{{nar.Reacao.TotalQuestoes}}</span></p>
                <div class="progress" role="progressbar" id="progress-bar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                    <span class="progress-meter" style="width: {{nar.Reacao.Percentual}}%">
                    </span>
                </div>
            </div>
            <div ng-if="nar.Reacao.TotalRespondidas === nar.Reacao.TotalQuestoes" class="button-container">
                <button type="submit"  ng-click="nar.SubmitAvaliacaoReacao()" id="submitButtom" class="button large expanded submit"><i class="icon ion-arrow-right-a"></i><span>Enviar Avaliação</span></button>
            </div>
        </div>
    </div>
</div>
