.list-evidencias {
  .image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .file-name {
    overflow: hidden;
    p {
      margin-bottom: 0;
    }
    .date {
      color: $dark-gray;
    }
  }
}
