<div class="page-header">
	<div class="row">
		<div class="small-2 columns left">
			<a ui-sref="turma({id : evidencias.idTurma, date : evidencias.date})" class="previous" data-close aria-label="Close reveal">
				<i class="icon ion-ios-arrow-left"></i>
			</a>
		</div>
		<div class="small-10 columns">
	    	<h3 class="turma-title title">{{evidencias.Turma.Requisicao.Codigo}}
	    		<i class="icon ion-arrow-right-c"></i> <span class="turma">{{evidencias.Turma.Codigo}}</span>
	    	</h3>
	  	</div>
	</div>
</div>
<div class="main-content">
	<loader></loader>

	<div class="evidencias-container">
		<ul class="list list-evidencias">
			<li ng-if="!evidencias.Contents[0]">
				<div class="small-12 columns">
					Não existe nenhuma evidência disponível...
				</div>
			</li>
			<img style="display:none" ng-if="evidencias.Contents == ''" id="imgEvidencia" />
			<li ng-repeat="evidencia in evidencias.Contents">
				<div class="small-3 columns image">
					<img id="imgEvidencia" ng-src="{{evidencia.Path}}" />
				</div>
				<div class="small-7 columns file-name">
					<p class="name">{{evidencia.Arquivo}}</p>
					<p class="date">{{evidencia.Date | toDate | date}}</p>
				</div>
				<div class="small-2 columns">
	  		    <button type="button" class="button hollow expanded" ng-click="evidencias.deleteEvidencia(evidencia.Path)">
	              <i class="icon ion-close"></i>
	          	</button>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="bottom-actions">
	<div class="row">
			<div class="small-12 columns">
				<button class="button large expanded file-upload">
					<i class="icon ion-plus"></i><span>Novo Arquivo</span>
					<input onchange="angular.element(this).scope().uploadImage(this.files)" type="file">
				</button>
			</div>
		</div>
</div>
