.fc-toolbar {
	background-color: $light-gray;
	padding: $global-padding;
	margin-bottom: 0;
	.fc-button {
		border: none;
		border-radius: 0;
		padding: 0 20px;
		background: none;
		box-shadow: none;
		text-shadow: none;
		color: $primary-color;
		span {
			display: none;
		}
	}
	.fc-prev-button {
		@extend .icon;
		@extend .ion-chevron-left;
	}
	.fc-next-button {
		@extend .icon;
		@extend .ion-chevron-right;
	}
	.fc-state-disabled {
		color: $dark-gray;
	}
}
.fc-head {
	background-color: $light-gray;
}

th.fc-day-header {
	font-weight: bold;
	font-size: 0.9em;
	padding-bottom: 0.5em;
}

.fc-body {
	.fc-event-container {
		text-align: center;
	}
	.fc-event {
		padding: 0;
		border: none;
		margin-top: 3px;
		@extend .status-icon;
		@extend .icon;
		@extend .ion-checkmark;
		border-radius: 30px;
		background: $success-color;
		display: inline-block;
		pointer-events: none;
		animation-name: bounce;
		animation-timing-function: ease-in-out;
    animation-duration: 400ms;
		&:before {
			height: 13px;
			width: 13px;
		}
		.fc-content {
			display: none;
		}
		.fc-bg {
			display: none;
		}
	}
	.fc-other-month {
		@include dashed-bg($light-gray);
	}
	.fc-sun, .fc-sat, .fc-nonbusiness {

	}
}

@keyframes bounce {
    from {transform: scale(2.5, 2.5); opacity: 0}
    to {transform: scale(1, 1); opacity: 1}
}

.fc-ltr .fc-basic-view .fc-day-number {
	font-size: 0.9em;
	padding-bottom: 0;
	text-align: center;

}
td.fc-widget-header {
	border-width: 0;
	background: $light-gray;
}
.fc-unthemed {
	thead {
		border-width: 0;
		background: none;
	}
	th {
		border-width: 0;
	}
	td {
		border-color: $medium-gray;
	}
}

.fc-bg td.fc-today {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 5px;
		background: $primary-color;
	}

}

.fc-unthemed td .fc-today {
	color: $primary-color;
}

.fc-time-grid .fc-slats .fc-minor td {
	border-top-style: solid;
	border-top: 1px solid $dark-gray;

}
