<div class="top-bar">
  <div class="top-bar-left">
    <i class="icon ion-navicon"></i>
  </div>
  <div class="top-bar-center">
  	<a href="#">LG Academy</a>
  </div>
  <div class="top-bar-right">
	  <i class="icon ion-android-notifications"></i>
  </div>
</div>
