.top-bar {
	min-height: 50px;
	max-height: 50px;
	background-color: $primary-color;
	overflow: hidden;

	.icon {
		color: fade-out($white,0.2);
		font-size: 24px;
	}

	.top-bar-center {
		color: $white;
		width: 80%;
		float: left;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		a {
			color: $white;
		}
	}

	.top-bar-right, .top-bar-left {
		width: 10%;
		text-align: center;

	}
}
