<div class="loader" ng-if="$ctrl.loading.isLoading">
  <div class="overlay">
  </div>
  <div class="spinner"></div>
</div>

<!-- <a href="" style="z-index:2000;position:absolute;bottom:200px;" ng-click="$ctrl.loading.isLoading = $ctrl.loading.isLoading?false:true">Load - {{$ctrl.loading.isLoading}}</a> -->
