.loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;

	.overlay {
		height: 100%;
		width: 100%;
		background: fade-out($white,0.1);
	}

	.spinner {
		background: $white;
		padding: 14px;
		width: 70px;
		height: 70px;
		border-radius: 70px;
		box-shadow: 0 2px 5px fade-out($black,0.7);
		position: absolute;
		top: 160px;
		left: 50%;
		margin-left: -35px;
		border: 1px solid $light-gray;
		&:before {
			content: "";
			display: block;
			width: 40px;
			height: 40px;
			animation:spin 1s linear infinite;
			border-radius: 40px;
			border: 5px solid fade-out($primary-color,0.8);
			border-bottom: 5px solid $primary-color;
		}
	}

	&.ng-enter {
    transition: .5s;
    opacity: 1;
		.overlay {
			transition: .5s;
	    opacity: 0;
		}
		.spinner {
			transition: all .5s ease-in-out;
			opacity: 0;
			transform: translate3d(0,-220px,0);
		}
  }
  &.ng-enter-active {
    opacity: 1;
		.overlay {
	    opacity: 1;
		}
		.spinner {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
  }
	&.ng-leave {
		transition: .5s;
    opacity: 1;
		.overlay {
			transition: .5s;
	    opacity: 1;
		}
		.spinner {
			opacity: 1;
			transition: all .5s ease-in-out;
			transform: translate3d(0,0,0);
		}
	}
	&.ng-leave-active {
    opacity: 1;
		.overlay {
	    opacity: 0;
		}
		.spinner {
			opacity: 0;
			transform: translate3d(0,-220px,0);
		}
	}

}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
