<page-header>
	<div class="small-2 columns left">
		<a class="previous" ui-sref="custos({idTurma : consultaCusto.idTurma})">
			<i class="icon ion-ios-arrow-left"></i>
		</a>
	</div>
	<div class="small-10 columns">
	  <h3 class="turma-title title">{{consultaCusto.Turma.Requisicao.Codigo}}
	    <i class="icon ion-arrow-right-c"></i>
	    <span class="turma">{{consultaCusto.Turma.Codigo}}</span>
		</h3>
	</div>
</page-header>
<div class="main-content">
	<loader></loader>
	<ul id="listCustosFull" class="cost-list list form">
		<li ng-repeat="custo in consultaCusto.All track by $index">
			<div class="small-8 columns cost-details">
				<p>
					<span class="title">Tipo</span>
			    <span class="data">{{custo.TipoCusto}}</span>
				</p>
				<p>
					<span class="title">Descrição</span>
			    <span class="data">{{custo.Descricao}}</span>
				</p>
		    <p>
					<span class="title">Data</span>
			    <span class="data">{{custo.Date}}</span>
		    </p>
		    <p>
					<span class="title">Custo</span>
			    <span class="data">R$ {{custo.Custo}}</span>
		    </p>
			</div>
		  <div class="small-4 columns">
				<button type="button" class="button hollow expanded" ng-click="consultaCusto.vinculaCusto(custo.ID)">
					<i class="icon ion-checkmark"></i> <span>Selecionar</span>
				</button>
		  </div>
		</li>
	</ul>
</div>
