<ul class="event-list list">

    <li class="success" ng-show="avaliacoes.avaliacoesRespondidas == ''">
        <div class="small-12 columns success">
            <h3 class="title">Nenhuma avaliação disponível</h3>
        </div>
    </li>

    <li ng-repeat="avaliacao in avaliacoes.avaliacoesRespondidas">
        <div class="small-9 columns">
            <h3 class="turma-title">{{avaliacao.CodigoAvaliacao}} <i class="icon ion-arrow-right-c"></i> <span class="turma">{{avaliacao.CodigoTurma}}</span></h3>
            <p class="time">
                <i class="time-icon icon ion-android-time"></i>
                <span class="start">{{avaliacao.Data | toDate | date: "dd 'de' MMMM 'de' yyyy"}}</span>
            </p>
            <!-- <span class="more"><i class="icon ion-android-arrow-forward"></i>Visualizar Respostas</span> -->
        </div>
        <div class="small-3 columns status">
            <i ng-if="avaliacao.Aprovado == true" class="status-icon success icon ion-checkmark"></i>
            <i ng-if="avaliacao.Aprovado == false" class="status-icon icon ion-close"></i>
            <h3>{{avaliacao.NotaAprovacao | number:1}}</h3>
        </div>
    </li>
</ul>
