.list-questions {
	.question {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 1em;
			top: 1em;
			background: $medium-gray;
			width: 0.25em;
		}
		&.selected:before {
			background: $primary-color;
		}
		&.correct:before {
			background: $success-color;
		}
		&.incorrect:before {
			background: $alert-color;
		}
		p {
			position: relative;
			font-weight: bold;
			border-bottom: 1px solid $light-gray;
			margin-bottom: 0.5em;
			padding-bottom: 0.5em;
		}
	}
  .options {
    li {
      position: relative;
      padding: 0.5em 0;
      padding-left: 1.8em;
      color: $dark-gray;
      &.selected {
        color: $black;
      }
      &.selectable {
        padding: 0;
        padding-left: 0;
        &:active {
          color: $black;
        }
      }
      label {
        color: lighten($black,30);
        padding: 0.5em 0;
        padding-left: 1.8em;
        cursor: pointer;
        display: block;
        margin: 0;
      }
      input[type="radio"] {
          display:none;
          &:checked {
            &~.check {
              @extend .ion-ios-circle-filled;
              color: $primary-color;
            }
            &~label {
              color: $black;
            }
          }

      }
      .check {
        @extend .ion-ios-circle-outline;
        background: $white;
      }
      .icon {
        position: absolute;
        left: 0;
        font-size: 1.4em;
        top: 2px;
        color: $dark-gray;
        transition: color 0.5s;
        pointer-events: none;
        &.correct {
          color: $success-color;
        }
        &.incorrect {
          color: $primary-color;
        }
      }
    }
  }
}
