<loader></loader>

<page-header>
  <div class="small-2 columns left">
      <a class="previous" ui-sref="main.avaliacoes({tipoAvaliacao: qr.result.TipoAvaliacao == 'POS' ? 'POS' : 'PRE'})" data-close aria-label="Close reveal">
           <i class="icon ion-ios-arrow-left"></i>
      </a>
  </div>
  <div class="small-7 columns">
      <h3 class="turma-title title"><span class="turma">{{qr.result.CodigoTurma}}</span> <i class="icon ion-arrow-right-c"></i> {{qr.result.TipoAvaliacao}} Teste</h3>
  </div>
  <div class="small-3 columns text-center">
      <i ng-if="qr.result.Aprovado == true" class="status-icon success icon ion-checkmark"></i>
      <i ng-if="qr.result.Aprovado == false" class="status-icon icon ion-close"></i>
      <span>{{qr.result.Nota | number:1}}</span>
  </div>
</page-header>

<div class="main-content">

    <ul class="list list-questions">
        <li class="question" ng-repeat="q in qr.result.Questoes" ng-class="{true: 'correct', false: 'incorrect'}[q.Questao.Correta]">
            <div class="small-12 columns">
                <p>{{q.Questao.Enunciado}}</p>
                <ul class="options">
                    <li ng-repeat="a in q.Questao.Alternativa" ng-class="{'selected': a.Correta != null}" >

                        <i class="icon correct ion-checkmark-circled" ng-if="a.Correta == true"></i>

                        <i class="icon incorrect ion-close-circled" ng-if="a.Correta == false"></i>

                        <i class="icon ion-ios-circle-outline" ng-if="a.Correta == null"></i>

                        <span>
                            {{a.Alternativa}}
                        </span>
                    </li>
                </ul>
            </div>
        </li>

    </ul>
</div>
