﻿<div class="results main-content">
  <page-header>
    <div class="small-2 columns left">
      <a class="previous" ui-sref="main.avaliacoes">
        <i class="icon ion-ios-arrow-left"></i>
      </a>
    </div>
    <div class="small-10 columns">
      <h3 ng-if="rar.Result.status == 'true'" class="title">Avaliação Submetida</h3>
      <h3 ng-if="rar.Result.status == 'false'" class="title">Erro ao submeter</h3>
    </div>
  </page-header>
    <div class="nota-container">
        <div class="row">
            <div class="large-12 columns" ng-if="rar.Result.status == 'true'">
                <h1 class="status">
                    Avaliação submetida com sucesso
                </h1>
            </div>
            <div class="large-12 columns" ng-if="rar.Result.status == 'false'">
                <h1 class="status">
                    Erro ao submeter avaliação reação
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="nota">
                    <i ng-class="rar.Result.status == 'false' ? 'fail ion-close' : 'success ion-checkmark'" class="status-icon icon"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" ng-if="rar.Result.status == 'true'">
                <div class="answers">
                    Obrigado por responder a avaliação de reação.
                </div>
            </div>
            <div class="large-12 columns" ng-if="rar.Result.status == 'false'">
                <div class="answers">
                    Infelizmente houve um erro ao submeter avaliação de Reação, favor contatar o administrator.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="submit-questions">
    <div class="row">
        <div class="small-12 columns">
            <button class="button large expanded hollow" data-open="modal" ui-sref="main.avaliacoes"><i class="icon ion-chevron-left"></i>Voltar</button>
        </div>
    </div>
</div> -->
