.list-noticias {

	>li {
		cursor: pointer;
		&:hover,
	    &:focus {
	      @if $anchor-text-decoration-hover != $anchor-text-decoration {
	        text-decoration: $anchor-text-decoration-hover;
	      }
	    }
	}

	.title {
		line-height: 1.2em;
	}
	.date {
		background-color: $primary-color;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		margin: 0 auto;
		text-align: center;
		color: $white;
		padding: 0.8em 0;
	}
	.day {
		display: block;
		font-weight: bold;
		width: 100%;
		font-size: 1.2em;
	}
	.month {
		display: block;
		line-height: 0.8em;
	}
}

.more {
	color: $primary-color;
	font-size: $small-font-size;
	.icon {
		margin-right: 0.25em;
	}
}

.single-news {
	padding: $global-padding*1.5;

	.title {
		color: $primary-color;
		h1 {
			line-height: 1.2em;
			font-weight: bold;
		}
	}
	.date {
		border-top: 1px solid $light-gray;
		text-align: right;
		color: $body-font-color;
		font-size: $small-font-size;
	}
	img {
		margin-bottom: $global-padding;
	}
}
