<page-header></page-header>
<loader></loader>
<ul class="list-noticias list">
    <li ng-repeat="noticia in noticias.All">
      <div class="small-4 columns date-container" ui-sref="detalheNoticia({id: noticia.ID})">
        <div class="date">
          <span class="day">{{noticia.Data | toDate | date: "dd"}}</span>
          <span class="month">{{noticia.Data | toDate | date: "MMM" | capitalizeFirstLetter}}</span>
        </div>
      </div>
      <div class="small-8 columns" ui-sref="detalheNoticia({id: noticia.ID})">
        <h4 class="title">{{noticia.Noticia}}</h4>
        <span class="more"><i class="icon ion-android-arrow-forward"></i>Leia mais</span>
      </div>
    </li>
</ul>
