.date-title.title {
  line-height: 17px;
  .weekday, .fulldate {
    display: block;
  }
  .weekday {
    font-size: 12px;
  }
  .fulltime {
    font-size: 14px;
  }
}

.turmas {
  .costs-list {
    li {
      padding: $global-padding/2;
    }
  }
  .turmas-list {
  	>li {
  		cursor: pointer;

  	    &:hover,
  	    &:focus {
  	      color: $anchor-color-hover;
  	      @if $anchor-text-decoration-hover != $anchor-text-decoration {
  	        text-decoration: $anchor-text-decoration-hover;
  	      }
  	    }
  	    &.success {
  			@include dashed-bg($light-gray);
  			.turma {
  				background: $dark-gray;
  			}
  			color: $dark-gray;
  		}
  	}

  	p {
  		margin-bottom: 0;
  		font-size: 0.85em;
  		width: 100%;
  		height: $lead-lineheight;
  	}
  	.status {
  		text-align: center;
  		border-left: 1px solid $light-gray;
  		padding-right: 0;
  		span {
  			font-size: 0.75em;
  			display: block;
  		}
  		h3 {
  			font-weight: bold;
  		}
  	}

  	.location {
  		color: $dark-gray;
  	}
  	.icon {
  		color: $dark-gray;
  	}
  }
}
