<page-header>
	<div class="small-2 columns left">
			<a class="previous" ui-sref="main.agenda.calendario">
				<i class="icon ion-ios-arrow-left"></i>
			</a>
		</div>
	  	<div class="small-10 columns center">
		  	<h5 class="turma-title date-title title">
		  		<span class="weekday">{{turmas.selectedDate | toDate | date: "EEEE"}},</span>
					<span class="fulldate">{{turmas.selectedDate | toDate | date: "dd 'de' MMMM 'de' yyyy"}}</span>
			</h5>
	  	</div>
</page-header>

<div class="turmas main-content">
	<loader></loader>
	<accordion close-others="false">
		<accordion-group heading="Resumo do Dia" class="costs" is-open="true">
			<ul class="costs-list list">
				<li ng-if="!turmas.listaCustos[0]">
					<div class="small-12 columns">
						Não existe nenhum custo disponível...
					</div>
				</li>
				<li ng-if="turmas.totalDistanceInKM != undefined">
					<div class="small-8 columns"><b>KILOMETRAGEM</b></div>
					<div class="small-4 columns value"><b>{{turmas.totalDistanceInKM}} KM</b></div>
				</li>
				<li ng-repeat="custos in turmas.listaCustos">
					<div class="small-8 columns">{{custos.Key}}</div>
					<div class="small-4 columns value">{{custos.Value | currency : "R$ " : 2}}</div>
				</li>
			</ul>
		</accordion-group>
		<accordion-group heading="Turmas ({{turmas.treinamentos.length}})" class="turmas" is-open="true">
			<ul class="turmas-list list">
				<li ng-if="!turmas.treinamentos[0]">
					<div class="small-12 columns">
						Não existe nenhuma turma disponível...
					</div>
				</li>
				<li ng-repeat="nitem in turmas.treinamentos">
					<div class="row" ui-sref="turma({id : nitem.ID, date : turmas.selectedDate})">
						<div class="small-8 columns">
							<h3 class="turma-title" >{{nitem.Requisicao.Codigo}}
							<i class="icon ion-arrow-right-c"></i> <span class="turma">{{nitem.Codigo}}</span></h3>
							<p class="time">
								<i class="time-icon icon ion-android-time"></i>
								<span class="start">{{nitem.Inicio | toDate | date: "HH:mm"}}</span>
								<i class="icon ion-arrow-right-c"></i>
								<span class="end">{{nitem.Termino | toDate | date: "HH:mm"}}</span>
							</p>
							<p class="location" ng-if="nitem.Requisicao != null">{{nitem.Requisicao.TipoTreinamento}} - {{nitem.Requisicao.Publico}}</p>
							<p class="location" ng-if="nitem.Requisicao != null">{{nitem.Requisicao.Aux}}</p>
							<p class="more"><i class="icon ion-android-arrow-forward"></i>Visualizar turma</p>
						</div>
						<div class="small-4 columns status">
							<i class="status-icon icon ion-alert" ng-if="(turmas.getDatetime | date:'yyyy-MMM-dd') <= (nitem.Termino)"></i>
							<i class="status-icon success icon ion-checkmark" ng-if="(turmas.getDatetime | date:'yyyy-MMM-dd') > (nitem.Termino)"></i>
							<span>{{nitem.Status == 'POS_TREINAMENTO' ? 'PÓS TREINAMENTO' : nitem.Status}}</span>
						</div>
					</div>
				</li>
			</ul>
		</accordion-group>
	</accordion>
</div>
